.feed {

    .item {
        @extend %clearfix;

        margin: {
            bottom: 2rem;
        };

        border: {
            style: solid;
            width: 0 1px 1px;
            color: #ddd;
            radius: 2px;
        };

        &__inner-wrap {
            @extend %clearfix;

            padding: 1rem;
        }

        &__image {
            float: left;
            width: 20%;
            margin: {
                right: 5%;
            };
        }

        &__content {
            float: left;
            width: 75%;
        }

        &__header {

        }

        &__meta {
            list-style: none;
            padding: 0;
            font-size: 12px;
            margin: 0;
            color: #888;
        }
    }
}

.vote-graph {
    $height: 4px;

    height: $height;
    position: relative;

    &__upvotes,
    &__downvotes {
        float: left;
        height: $height;
    }

    &__upvotes {
        background: #BDECB6;
    }

    &__downvotes {
        background: #FF7878;
    }
}

.link {
    color: #555;

    &:hover {
        text-decoration: underline;
        color: #000;
    }
}

.vote {
    transition: color .1s linear;
    margin-right: 10px;

    &--good {
        @extend .vote;
        color: darken(#BDECB6, 5%);

        i {
            @extend .vote__icon;
        }
    }

    &--bad {
        @extend .vote;
        color: #FF7878;

        i {
            @extend .vote__icon;
        }
    }

    &__icon {
        font-size: 24px;\color: #777;
        margin-right: 5px;
    }

    &:hover {
        color: #000;
    }
}
