body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-font-color;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

small {
    font-size: 50%;
    color: lighten($base-font-color, 15%);
}
