$btn-color: #FF494D;
%button {
    display: block;
    padding: 20px;
    background: $btn-color;
    border: 0;
    color: #fff;
    border-radius: 2px;
    transition: background .1s linear;
    cursor: pointer;
    outline: none;
    
    &:hover {
        background: lighten($btn-color, 10%);
    }

    &:active {
        background: darken($btn-color, 10%);
    }
}
